:root {
  --primary: #56a3a6;
  --secondary: #fb8f67;
  --darkteal: #4f6d7a;
  --brightteal: #44cfcb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline {
  width: 10rem;
  height: 0.25rem;
  background: #ffa987;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: #f7ebe8;
  font-family: 'Poppins', san-serif;
  font-size: 1.15em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
