@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
} */

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f7ebe8;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px, 10%;
  width: 1475px;
  height: 60px;
  background-color: #56a3a6;
}
.navLogo {
  margin-right: auto;
}
.navLogo img {
  width: 50px;

  border-radius: 50%;
  margin-left: 20px;
}
.navLogo div:hover {
  cursor: pointer;
}
.navLinks {
  list-style: none;
}
.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}
.navLinks li a {
  transition: all 0.03s ease 0s;
  text-decoration: none;
}
.logOutBtn {
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}
.logOutBtn h4:hover {
  color: #ffa987;
}
.navLinks li a:hover {
  color: #ffa987;
}
.navButton {
  color: black;
  font-size: 10px;
}

/* .navBar {
  display: flex;
  background-color: #2e86ab;
  color: #f7ebe8;
  width: 1475px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px 4px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.navLogo {
  margin-top: 6px;
}
.navLink {
  margin-top: 6px;
} */
